html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #6c98dd;
}

.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-areas:
  "header          header              header              header"
  "leftSidebar  cta     cta     rightSidebar"
  "leftSidebar  contentFocus contentFocus rightSidebar"
  "footerTop    footerTop        footerTop        footerTop"
  "footerBottom footerBottom     footerBottom     footerBottom";
}

#contentFocus {
  grid-area: contentFocus;
  height: auto;
  /* align-items: stretch; */
  background: rgb(27, 27, 221);
  font-size: 20px;
  color:rgb(255, 255, 255);
  position: relative;
  padding-top: 56.25%;
}

#contentFocus > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.header {
  grid-area: header;
}

.header li {
  display: inline-block;
  font-size: 30px;
}

.brand {
  text-align: left;
  float: left;
}

.navLink {
  text-align: right;
  float: right;
  padding: 10px 30px;
}

.cta {
  grid-area: cta;
  background: rgb(197, 118, 118);
}

#leftSidebar {
  grid-area: leftSidebar;
  background: white;
}

#leftSidebar > div {
  max-height: 100px;
  overflow: hidden;
}

#leftSidebar a:hover {
  background: white;
  color: blue;
}

#rightSidebar {
  background: white;
  grid-area: rightSidebar;
}

#footerBottom {
  grid-area: footerBottom;
  background: blue;

}

#footerTop {
  grid-area: footerTop;
  background: blue;

}


/* Social Media Accordion */

header h1 {
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.accordion {
  background: #333;
  max-width: 100%;
  display: block;
  list-style-type: none;
  overflow: hidden;
  height: 200px;
  font-size: 0;
}

.tab {
  display: inline-block;
  background-color: #444;
  border-right: 1px solid #333;
  width: 80px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0;
  transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover {
  width: 450px;
}

.tab .content {
  background: #fff;
  width: 360px;
  height: 100%;
  margin-left: 80px;
  position: relative;
  padding: 50px;
}

.tab .content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.tab .content p {
  font-size: 0.85rem;
  line-height: 1.4rem;
  padding-right: 30px;
}

.youtube a:before:after {

}