html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #6c98dd;
}

.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-areas:
  "cta          cta              cta              cta"
  "leftSidebar  contentFocus     contentFocus     rightSidebar"
  "leftSidebar  mainDisplaySpace mainDisplaySpace rightSidebar"
  "footerTop    footerTop        footerTop        footerTop"
  "footerBottom footerBottom     footerBottom     footerBottom";
}

#contentFocus {
  grid-area: contentFocus;
  height: auto;
  align-items: stretch;
}

.mainDisplaySpace {
  grid-area: mainDisplaySpace;
  padding: 2%;
  height: auto;
}

.cta {
  grid-area: cta;
  background: rgb(197, 118, 118);
}

#leftSidebar {
  grid-area: leftSidebar;
  background: white;
  padding: 2%;
}

.mainBlogContent a {
  color: black;
  text-decoration: none;
}

.blogSidebar {
  max-height: 200px;
  overflow: hidden;
}

.blogContent {
  border: 1px solid black;
}

#rightSidebar {
  background: white;
  grid-area: rightSidebar;
  padding: 1%;
}

#footerBottom {
  grid-area: footerBottom;
  background: blue;

}

#footerTop {
  grid-area: footerTop;
  background: blue;

}

.footerHead {
  font-size: 20px;
}

.footer {
  margin: 50px auto;
  margin: 0;
  padding: 0;
}

@font-face {
  
}

header h1 {
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.accordion {
  background: #333;
  max-width: 100%;
  display: block;
  list-style-type: none;
  overflow: hidden;
  height: 200px;
  font-size: 0;
}

.tab {
  display: inline-block;
  background-color: #444;
  border-right: 1px solid #333;
  width: 80px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0;
  transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover {
  width: 450px;
}

.tab .content {
  background: #fff;
  width: 360px;
  height: 100%;
  margin-left: 80px;
  position: relative;
  padding: 50px;
}

.tab .content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.tab .content p {
  font-size: 0.85rem;
  line-height: 1.4rem;
  padding-right: 30px;
}

.youtube a:before:after {

}